.customerMasterDrawerContainer {
  width: 93%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  transition: 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.customerMasterDrawerContainer .drawerTypeText {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.customerMasterDrawerContainer .drawerTypeText h3 {
  text-transform: capitalize;
  font-size: 18px;
}
.customerMasterDrawerContainer .drawerTypeText span {
  cursor: pointer;
}
.customerMasterDrawerContainer .drawerData {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.customerMasterDrawerContainer .drawerData .leftSide {
  width: 23%;
  height: 100%;
  padding: 20px;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile {
  border-radius: 4px;
  padding: 12px 16px;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .userImgNameId {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .userImgNameId .userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .userImgNameId .userImg span {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .userImgNameId .userName_id h3 {
  font-size: 16px;
  font-weight: 700;
  color: #ff3e5b;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .userImgNameId .userName_id p {
  font-size: 14px;
  font-weight: 400;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .divider {
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}
.customerMasterDrawerContainer .drawerData .leftSide .userProfile .customerType {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}
.customerMasterDrawerContainer .drawerData .rightSide {
  width: 77%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.customerMasterDrawerContainer .drawerData .rightSide .contents {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  overflow-y: scroll;
}
.customerMasterDrawerContainer .drawerData .rightSide .contents h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.customerMasterDrawerContainer .drawerData .rightSide .contents .customerDetails {
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid;
  height: 288px;
}
.customerMasterDrawerContainer .drawerData .rightSide .footerSide {
  position: absolute;
  bottom: 56.2px;
  left: 0;
  right: 0;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  z-index: 5;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customerMasterDrawerContainer .drawerData .rightSide .footerSide .buttons {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #ff3e5b;
  text-transform: capitalize;
  border-radius: 4px;
}
.customerMasterDrawerContainer .drawerData .rightSide .footerSide .rightSideBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=styles.css.map */