.container {
    display: flex;
    justify-content: center;
  
    & .cal1 {
      & input {
        &::placeholder {
          color: red;
        }
      }
      .ant-picker-clear .anticon.anticon-close-circle svg {
        color: red !important;
      }
  
      & .ant-picker-suffix {
        & span.anticon.anticon-calendar {
          color: red !important;
        }
      }
  
      :where(.css-dev-only-do-not-override-1rqnfsa).ant-picker-dropdown
        .ant-picker-panel-container
        .ant-picker-panel-layout {
        background-color: red !important;
      }
    }
  }
  