.otfContainer {
  margin-top: 30px;
  margin-bottom: 30px;

  & .otfHeader {
    margin-bottom: 20px;
    & .otfHeaderLeftSide {
      border-radius: 4px;
      padding: 6px 20px;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  & .tablesScroll {
    // width: 100%;
    // max-width: calc(100vw - 358px);
    // overflow: scroll;

    & .tableContainer {
      min-height: calc(100vh - 230px);
      max-height: calc(100vh - 230px);
      // max-width:840px;
      max-width: calc(100vw - 64px);
      overflow: scroll;
    }
  }
}
