.dashboard {
  position: relative;
  max-height: -moz-max-content;
  max-height: max-content;
}
.dashboard .boxContainer {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 48px;
}
.dashboard .boxContainer .key_highlights_heading {
  border-radius: 4px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border: 1px solid;
}
.dashboard .boxContainer .actionItems_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 268px;
  overflow: hidden;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents {
  border: 1px solid;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents.active::-webkit-scrollbar {
  opacity: 1;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents.active::-webkit-scrollbar-track {
  background: transparent;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents.active::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents.active.light::-webkit-scrollbar-thumb {
  background: #b5b5b6;
}
.dashboard .boxContainer .actionItems_container .actionItems_left_side .actionItems_contents.active.dark::-webkit-scrollbar-thumb {
  background: #242424;
}
.dashboard .boxContainer .actionItems_container .actionItems_right_side {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dashboard .boxContainer .actionItems_container .actionItems_right_side .images {
  width: 100%;
  height: 100%;
  min-height: 234px;
}
.dashboard .boxContainer .actionItems_container .actionItems_right_side .images img {
  width: 100%;
  height: 100%;
  max-height: 234px;
  min-height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.dashboard .boxContainer .dashboard_api {
  width: 100%;
  margin-top: 20px;
}
.dashboard .boxContainer .dashboard_api .dashboard_api_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .boxContainer .dashboard_api .dashboard_api_title h2 {
  font-size: 18px;
  font-weight: 700;
}
.dashboard .boxContainer .dashboard_api .dashboard_api_title .addWidgetBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 4px;
  background-color: #ff3e5b;
  color: white;
  padding: 6px 16px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
}
.dashboard .boxContainer .dashboard_api .dashboard_api_title .addWidgetBtn span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .boxContainer .dashboard_api .dashboard_api_title .addWidgetBtn:hover {
  background-color: #f43854;
}
.dashboard .boxContainer .dashboard_api .graphs_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 16px;
  border-radius: 4px;
  width: 100%;
}
.dashboard .boxContainer .news_birthday {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
}
.dashboard .boxContainer .news_birthday .boxs {
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 367px;
  min-height: 367px;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper {
  padding: 16px;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper, .dashboard .boxContainer .news_birthday .boxs .newsWrapper {
  overflow-y: scroll;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper::-webkit-scrollbar, .dashboard .boxContainer .news_birthday .boxs .newsWrapper::-webkit-scrollbar {
  width: 4px;
  opacity: 0;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper.active::-webkit-scrollbar, .dashboard .boxContainer .news_birthday .boxs .newsWrapper.active::-webkit-scrollbar {
  opacity: 1;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper.active::-webkit-scrollbar-track, .dashboard .boxContainer .news_birthday .boxs .newsWrapper.active::-webkit-scrollbar-track {
  background: transparent;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper.active::-webkit-scrollbar-thumb, .dashboard .boxContainer .news_birthday .boxs .newsWrapper.active::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper.active.light::-webkit-scrollbar-thumb, .dashboard .boxContainer .news_birthday .boxs .newsWrapper.active.light::-webkit-scrollbar-thumb {
  background: #b5b5b6;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper.active.dark::-webkit-scrollbar-thumb, .dashboard .boxContainer .news_birthday .boxs .newsWrapper.active.dark::-webkit-scrollbar-thumb {
  background: #242424;
}
.dashboard .boxContainer .news_birthday .boxs .birthdatListWapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .boxContainer .news_birthday .boxs h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.dashboard .boxContainer .news_birthday .birthdaySection .birthdayListContainer h5 {
  font-size: 14px;
  font-weight: 500;
}
.dashboard .boxContainer .news_birthday .birthdaySection .birthdayListContainer .birthdayList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

#newsDrawerOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  display: none;
}

@media screen and (max-width: 1280px) {
  .dashboard .boxContainer .news_birthday {
    flex-direction: column;
  }
}
@media screen and (max-width: 1080px) {
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left .divider {
    display: none;
  }
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left .title_heads {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left .title_heads p {
    display: block;
  }
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_right {
    display: none;
  }
}
@media screen and (max-width: 1038px) {
  .dashboard .boxContainer .key_highlights_container {
    flex-direction: column;
  }
  .dashboard .boxContainer .key_highlights_container .key_highlights_left_side, .dashboard .boxContainer .key_highlights_container .key_highlights_right_side {
    width: 100%;
  }
  .dashboard .boxContainer .key_highlights_container .key_highlights_right_side .images {
    max-height: 300px;
  }
  .dashboard .boxContainer .key_highlights_container .key_highlights_right_side .images img {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 300px;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .dashboard .boxContainer .key_highlights_container .key_highlights_right_side .key_highlights_right_content_box h4, .dashboard .boxContainer .key_highlights_container .key_highlights_right_side .key_highlights_right_content_box p {
    font-size: 14px;
  }
  .dashboard .boxContainer .key_highlights_container .key_highlights_right_side .key_highlights_right_content_box span {
    font-size: 12px;
  }
  .dashboard .boxContainer .dashboard_api .graphs_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left .heads {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left .heads.one {
    display: none;
  }
  .dashboard .boxContainer .key_highlights_heading .key_highlights_heading_left .heads.two {
    display: flex;
  }
  .dashboard .boxContainer .actionItems_container {
    flex-direction: column;
  }
  .dashboard .boxContainer .actionItems_container .actionItems_left_side, .dashboard .boxContainer .actionItems_container .actionItems_right_side {
    width: 100%;
  }
}
@media screen and (max-width: 756px) {
  .dashboard .boxContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .dashboard .boxContainer .news_birthday .birthdaySection .birthdayListContainer .birthdayList {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */