.accordionContainer {
  width: 100%;
  height: auto;
  border-radius: 4px;

  & .accordionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px !important;
    // padding: 20px 30px;
    max-height: 60px;
    // height: 24px;

    & .markDefault {
      display: flex;
      align-items: center;
      gap: 8px;

      & .divider {
        width: 1px;
        height: 20px;
        display: block;
      }
    }
  }

  & .accordionContents {
    // padding: 0 30px;
    // padding: 0 20px !important;
    padding-bottom: 20px !important;
    user-select: none;
  }

  // submit button
  & .submitForm {
    margin-left: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    & .btn {
      border-radius: 4px;
      padding: 6px 16px;
      border:1px solid #FF3E5B;
      font-size: 14px;
      font-weight: 700;

      &.primary{
        background: #FF3E5B;
        color: #ffffff;
      }

      &.secondary {
        background: transparent;
        color: #FF3E5B;
      }
    }
  }
}
