.graphsProgressBarContaier {
  width: 100%;
  height: 100%;
  max-height: 269px;
  position: relative;
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid;
}
.graphsProgressBarContaier h2 {
  padding: 0 16px;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 500;
}
.graphsProgressBarContaier .divider {
  width: calc(100% - 32px);
  height: 1px;
  display: block;
  margin: 0 auto;
}
.graphsProgressBarContaier .graphsDataWrapper {
  margin-top: 12px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 16px;
  gap: 10px;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 195px;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar::-webkit-scrollbar {
  width: 5px;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar.light::-webkit-scrollbar-track {
  background: #f0efef;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar.dark::-webkit-scrollbar-track {
  background: #1c1c1c;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar.light::-webkit-scrollbar-thumb {
  background: #b5b5b6;
}
.graphsProgressBarContaier .graphsDataWrapper.addScrollBar.dark::-webkit-scrollbar-thumb {
  background: #545454;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarData {
  display: flex;
  align-items: center;
  min-height: 20px;
  justify-content: space-between;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide {
  width: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide p {
  display: flex;
  align-items: center;
  gap: 4px;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span {
  font-size: 12px;
  font-weight: 500;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name {
  text-transform: capitalize;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name.middleScreen, .graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name.smallScreen {
  display: none;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide {
  width: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar {
  border-radius: 4px;
  height: 12px;
  margin: 4px 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips {
  position: absolute;
  top: -2px;
  right: -70px;
  display: block;
  padding: 3px 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.15);
  white-space: nowrap;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips p {
  display: flex;
  align-items: center;
  gap: 4px;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips p::before {
  content: "";
  position: absolute;
  display: block;
  border: 6px solid transparent;
  border-right-color: #000000;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips p.lightTheme::before {
  border-right-color: #ffffff;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips p.darkTheme::before {
  border-right-color: #545454;
}
.graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips span {
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

@media screen and (max-width: 1366px) {
  .graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name.middleScreen {
    display: block;
  }
  .graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name.biggScreen {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .graphsProgressBarContaier .graphsDataWrapper {
    gap: 10px;
    grid-template-columns: 0.3fr 0.7fr;
  }
  .graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarRightSide .progressBar .tooltips {
    right: 0;
  }
  .graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name.smallScreen {
    display: block;
  }
  .graphsProgressBarContaier .graphsDataWrapper .graphsProgressBarLeftSide span.name.middleScreen {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */