.accordionGridForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // gap: 30px;

  & .formContainer {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .formProfile {
      padding: 20px;
      width: 100%;
      height: 100%;
      border: 1px dashed;
      border-radius: 6px;

      & .formHeader {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        & p {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }

      & img {
        min-height: 100px;
        object-fit: contain;
      }
    }
  }

  // submit button
  & .submitForm {
    margin-left: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    & .btn {
      border-radius: 4px;
      padding: 6px 16px;
      border: 1px solid #ff3e5b;
      font-size: 14px;
      font-weight: 700;

      &.primary {
        background: #ff3e5b;
        color: #ffffff;
      }

      &.secondary {
        background: transparent;
        color: #ff3e5b;
      }
    }
  }

  // remarkDescription
  & .remarkDescription {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    & p {
      display: flex;
      flex-direction: column;
      gap: 6px;

      & span {
        font-size: 14px;
      }

      & textarea {
        resize: none;
        border-radius: 4px;
        border: 1px solid;
        padding: 5px 12px;
        font-size: 14px;
        font-weight: 400;
        outline: none;
      }
    }
  }
}
