.formDataList {
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;

  & p {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  & span {
    font-size: 14px;
    font-weight: 500;
  }

  & .editForm {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.formDataContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .document_attachs {
    display: grid;
    align-items: center;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    & .document {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    & .subText {
      font-size: 14px;
      font-weight: 400;
    }
  }
  // formUpload
  & .formUpload {
    width: 100%;
    min-height: 216px;
    border-radius: 4px;
    border: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .formUploadDiv {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      & .subText {
        // width: 50%;
        // margin: 0 auto;
        text-align: center;
        font-size: 14px;
        line-height: 23px;
        margin-top: 3px;
      }

      & .addbutton {
        margin-top: 20px;
        border-radius: 4px;
        padding: 6px 16px;
        background: #ff3e5b;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
