.dropdownIndividualContainer {
    width: 100%;
    position: relative;
    // max-width: 240px;
    // min-width: 240px;
  
    & .optionsContainer {
      width: 100%;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 12px;
      max-height: 27.8px;
      border-radius: 4px;
      cursor: pointer;
  
      & .selectedItems {
        font-size: 14px;
        text-transform: capitalize;
      }
  
      & .icons {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    //   dropdownMenuList
    & .dropdownMenuList {
      position: absolute;
      top:125%;
      width: 100%;
      height: fit-content;
      left: 0;
      right: 0;
      z-index: 5;
      padding: 8px;
      border-radius: 4px;
      border:1px solid;
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      & .listChild {
          cursor: pointer;
          font-size: 14px;
          padding:5px 10px;
          border-radius: 2px;
          user-select: none;
          text-transform: capitalize;
  
          &.lightTheme:hover {
              background: #F2F2F2;
          }
  
          &.darkTheme:hover {
              background: #232324;
          }
      }
    }
  }
  