.accordionContainer {
  width: 100%;
  height: auto;
  border-radius: 4px;

  & .accordionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    & .markDefault {
      display: flex;
      align-items: center;
      gap: 8px;

      & .divider {
        width: 1px;
        height: 20px;
        display: block;
      }
    }
  }

  & .accordionContents {
    padding: 0 30px;
    user-select: none;
  }
}
