.inputFields {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: transparent;

    &::placeholder {
        color: #858585;
        content:"*"
    }

    &+svg {
        margin-left: -25px;
        margin-top: -2px;
        visibility: visible;
        cursor: pointer;
    }

    &:placeholder-shown+svg {
        visibility: hidden;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}