.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 13px 0;

    & .mobileViewBtn {
        display: none;
    }

    & .headerLeft {
        display: flex;
        gap: 10px;

        & .userAvatar {
            height: 48px;

            & .userAvatarInside {
                font-size: 1.6rem;
            }

            & span {
                width: 45px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        & .userText {
            display: flex;
            align-items: start;
            flex-direction: column;

            & span {
                font-size: 12px;
            }

            & p {
                margin: 0;
            }

            & .dealerName {
                // color: #ea3434;
                font-size: 18px;
                padding-bottom: 2px;
                font-weight: 600;
            }

            & .userServiceArea {
                color: #6c757d;
                font-size: 14px;
                font-weight: 500;

            }
        }
    }

    & .headerRight {
        & .helpDesk {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.7rem;

            & .helpDeskText {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                font-weight: 500;

                &:hover {
                    color: #ea3434;
                }
            }
        }

        // user profile tab
        & .userProfileContainer {
            position: relative;

            & .userProfile {
                display: flex;
                align-items: center;
                gap: 6px;

                & .userAvatar,
                & .username {
                    font-size: 12px;
                    font-weight: 700;
                }

                & .userAvatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: white;
                    border: 1px solid #e6e6e6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                }

                & .userDetails {
                    display: flex;
                    flex-direction: column;

                    & p {
                        display: flex;
                        align-items: baseline;
                        gap: 4px;

                        & .userNumber {
                            font-size: 12px;

                            & svg {
                                font-size: 14px;
                            }
                        }
                    }

                }

            }

            & .dropdownUserDetails {
                position: absolute;
                top: 115%;
                left: 0;
                right: 0;
                width: 100%;
                max-width: max-content;
                height: max-content;
                border-radius: 10px;
                padding: 10px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                z-index: 5;

                & .lists {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    white-space: nowrap;
                    font-size: 14px;
                    line-height: 2px;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }
}

// media queries
@media screen and (max-width:880px) {
    .header {
        & .headerLeft {
            display: none;
        }
    }

    .header .mobileViewBtn {
        display: flex;
        align-items: center;
        height: 24px;
        line-height: 6px;
        cursor: pointer;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}