.selectDropdownFilter {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.selectDropdownFilter .selectDropdownFilterContainer {
  border-radius: 4px;
  padding: 5px 12px;
  border: 1px solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectDropdownFilter .selectDropdownFilterContainer .selectOption {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
.selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: #635d5d;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
}
.selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields {
  width: 100%;
  min-width: 160px;
  max-width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
  padding: 10px 6px;
}
.selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields .selectFields {
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: capitalize;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields .selectFields.mobileView {
  display: none;
}
.selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields .icons {
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: #ed302d;
}
.selectDropdownFilter .dropdownFieldContainer {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  flex: 1;
  position: relative;
}
.selectDropdownFilter .inputFieldsContainer {
  width: 100%;
  height: 100%;
}
.selectDropdownFilter .btn {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 6px;
  cursor: pointer;
}
.selectDropdownFilter .error {
  position: absolute;
  left: 0;
  bottom: -18px;
  font-size: 12px;
  color: #ed302d;
}
.selectDropdownFilter .allListItems {
  width: 100%;
  z-index: 20;
  border: 1px solid;
  border-radius: 3px;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 12px;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.selectDropdownFilter .allListItems .allListItemsChild {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.selectDropdownFilter .allListItems .allListItemsChild:not(:last-child) {
  border-bottom: 1px solid;
}
.selectDropdownFilter .allListItems .allListItemsChild:first-child {
  border-radius: 3px 3px 0 0;
}
.selectDropdownFilter .allListItems .allListItemsChild:last-child {
  border-radius: 0 0 3px 3px;
}
.selectDropdownFilter .allListItems .allListItemsChild.lightHover {
  color: #0b0b0c;
  border-color: #dedede;
}
.selectDropdownFilter .allListItems .allListItemsChild.darkHover {
  color: #a3a3a3;
  border-color: #232324;
}
.selectDropdownFilter .allListItems .allListItemsChild.darkHover:hover {
  background-color: #232324;
  color: #a3a3a3;
}
.selectDropdownFilter .allListItems .allListItemsChild.lightHover:hover {
  background-color: #f2f2f2;
  color: #0b0b0c;
}

@media screen and (max-width: 660px) {
  .selectDropdownFilter .selectDropdownFilterContainer .inputFieldsContainer input {
    padding-left: 125px !important;
    padding-right: 15px !important;
  }
  .selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields {
    min-width: 110px;
    max-width: 110px;
  }
  .selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields .selectFields.mobileView {
    display: block;
  }
  .selectDropdownFilter .selectDropdownFilterContainer .selectOption .selectOptionContainer .selectOptionFields .selectFields.desktopView {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */