.dropdown-menu {
    width: 100%;
    max-width: max-content;
    border-radius: 4px;
  
    & .selectOption {
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;
  
      & .selectOptionContainer {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        color: #635d5d;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
  
        & .selectOptionFields {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          gap: 10px;
  
          // select fields
          & .selectFields {
            width: max-content;
            white-space: nowrap;
            user-select: none;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
  
            &.mobileView {
              display: none;
            }
          }
  
          // icons
          & .icons {
            height: 16px;
            // transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          }
        }
      }
    }
  
    & .allListItems {
      // max-width: max-content;
      max-width: 98.16px;
      position: absolute;
      left: 0;
      right: 0;
      white-space: nowrap;
  
      width: 100%;
      z-index: 20;
      border: 1px solid;
      border-radius: 3px;
      transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      font-size: 12px;
      // padding: 12px 10px;
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      &.top {
        bottom: calc(100% + 10px);
      }
  
      &.bottom {
        bottom: calc(100% - 10px);
      }
  
      & .allListItemsChild {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
  
        &:not(:last-child) {
          border-bottom: 1px solid;
        }
  
        &:first-child {
          border-radius: 3px 3px 0 0;
        }
  
        &:last-child {
          border-radius: 0 0 3px 3px;
        }
  
        &.lightHover {
          color: #0b0b0c;
          border-color: #dedede;
        }
  
        &.darkHover {
          color: #a3a3a3;
          border-color: #232324;
        }
  
        &.darkHover:hover {
          background-color: #232324;
          color: #a3a3a3;
        }
  
        &.lightHover:hover {
          background-color: #f2f2f2;
          color: #0b0b0c;
        }
      }
    }
  }
  