table {
  width: 100%;
  // height: 100%;
  border-spacing: 0;
  position: relative;
  // table-layout: auto;

  & tr {
    & td,
    & th {
      font-size: 14px;
      padding: 13px 20px;
      text-align: left;
      white-space: nowrap;
      // overflow-x: hidden;
    }
  }

  & tr:last-child td {
    border-bottom: 0;
  }

  // tabel heads
  & .tableHeads {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 4;

    & .table {
      & th {
        border-bottom: 1px solid;
        & span {
          position: relative;

          & svg {
            position: absolute;
            right: -25px;
            top: 1px;
          }
        }

        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }

  & tbody {
    & tr {
      // border-bottom: 1px solid;
      & td {
        border-bottom: 1px solid;

        & .status {
          padding: 2px 6px;
          border-radius: 4px;
          border: 1px solid;
          font-size: 12px;

          &.Alloted.lightTheme,
          &.Delivered.lightTheme,
          &.Booked.lightTheme {
            border-color: #70c922;
            background: #eefcd2;
            color: #70c922;
          }

          // dark theme
          &.Alloted.darkTheme,
          &.Delivered.darkTheme,
          &.Booked.darkTheme {
            border-color: #70c922;
            background: #222921;
            color: #70c922;
          }

          &.Cancelled.lightTheme {
            border-color: #ed302d;
            background: #fee3d4;
            color: #ed302d;
          }

          // dark theme
          &.Cancelled.darkTheme {
            border-color: #ed302d;
            background: #2b2025;
            color: #ed302d;
          }

          &.Cancellation.lightTheme {
            border-color: #f99c22;
            background: #fef3d2;
            color: #f99c22;
          }

          // dark theme
          &.Cancellation.darkTheme {
            border-color: #f99c22;
            background: #2b2521;
            color: #f99c22;
          }

          &.Transferred.lightTheme {
            border-color: #2782f9;
            background: #d3edfe;
            color: #2782f9;
          }

          // dark theme
          &.Transferred.darkTheme {
            border-color: #2782f9;
            background: #20232c;
            color: #2782f9;
          }

          &.Invoiced.lightTheme {
            border-color: #9747ff;
            background: #f3eaff;
            color: #9747ff;
          }

          // dark theme
          &.Invoiced.darkTheme {
            border-color: #9747ff;
            background: #20232c;
            color: #9747ff;
          }
        }
      }

      &.lightHover:hover {
        background: #f2f2f2;
      }

      &.darkHover:hover {
        background: #1c1c1c;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  table {
    & tr td:not(:last-child, :first-child),
    & th:not(:last-child, :first-child) {
      padding-right: 10px;
      padding-left: 10px;
    }
    & tr td:first-child {
      padding-right: 0;
    }

    & tr td:last-child {
      padding-left: 0;
    }
  }
}

// @media screen and (max-width: 1080px) {
//   table {
//     & tr td:not(:last-child, :first-child),
//     & th:not(:last-child, :first-child) {
//       padding-right: 0;
//       padding-left: 0;
//     }
//   }
// }

@media screen and (max-width: 1058px) {
  table {
    & tr {
      & td,
      & th {
        padding: 13px 18px;
      }
    }
  }
}

@media screen and (max-width: 1038px) {
  table {
    & tr {
      & td,
      & th {
        padding: 13px 16px;
      }
    }
  }
}
