.customerMaster {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.customerMaster .paginations {
  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  z-index: 5;
}
.customerMaster .paginations .leftSide {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.customerMaster .paginations .leftSide .dropdownContainer {
  min-width: 84px;
  height: 100%;
  position: relative;
}
.customerMaster .paginations .rightSide {
  display: flex;
  align-items: center;
  gap: 6px;
}
.customerMaster .paginations .rightSide .btn {
  width: 28px;
  height: 28px;
  padding: 3px 7px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858585;
}
.customerMaster .customerMasterContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.customerMaster .customerMasterContainer .customerMasterHeader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 8px 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.customerMaster .customerMasterContainer .customerMasterHeader .customerMasterHeaderLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}
.customerMaster .customerMasterContainer .customerMasterHeader .customerMasterHeaderLeft .tabs {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 4px;
  height: -moz-max-content;
  height: max-content;
}
.customerMaster .customerMasterContainer .customerMasterHeader .customerMasterHeaderLeft .tabs button {
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}
.customerMaster .customerMasterContainer .tableContainer {
  max-height: 160px;
}

@media screen and (max-width: 992px) {
  .customerMaster .customerMasterContainer .customerMasterHeader .customerMasterHeaderLeft {
    flex-direction: column;
    width: 100%;
  }
  .customerMaster .customerMasterContainer .customerMasterHeader .customerMasterHeaderLeft .tabs {
    width: 100%;
  }
  .customerMaster .customerMasterContainer .customerMasterHeader .customerMasterHeaderLeft .tabs button {
    width: 100%;
  }
  .customerMaster .customerMasterContainer .paginations {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media screen and (max-width: 880px) {
  .customerMaster .customerMasterHeaderLeft .searchFilterContainer .advanceFilter {
    display: none !important;
  }
  .customerMaster .paginations {
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .customerMaster .paginations.light {
    box-shadow: rgba(0, 0, 0, 0.15) 1px 0px 0px 1px;
  }
  .customerMaster .paginations.dark {
    box-shadow: rgba(255, 255, 255, 0.15) 1px 0px 0px 1px;
  }
  .customerMaster .customerMasterContainer {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 660px) {
  .customerMaster .paginations {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .customerMaster .paginations .rightSide {
    flex-wrap: wrap;
  }
  .customerMaster .customerMasterContainer {
    margin-bottom: 160px;
  }
}/*# sourceMappingURL=styles.css.map */