* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-right: 32px;

  & span {
    color: #B5B5B6;
    font-size: 10px;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body.removeScrollbar::-webkit-scrollbar {
  display: none;
}

body.light::-webkit-scrollbar-track {
  background: #f0efef;
}

body.dark::-webkit-scrollbar-track {
  background: #1c1a1a;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body.light::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}

body.dark::-webkit-scrollbar-thumb {
  background: #242424;
}

// Container-fluid

.container-fluid {
  padding: 0 32px;
  // min-height: calc(100vh - 124px);
}

// table
.tableContainer {
  width: 100%;
  height: 100%;
  max-height: 379px;
  min-height: 379px;
  // max-height: 513px;
  // min-height: 513px;
  overflow: scroll;
  border-radius: 4px;
  border: 1px solid;

  &::-webkit-scrollbar {
    display: none;
  }
}

// media queries
@media screen and (max-width: 880px) {
  // .main-container
  .footer,
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}
