* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.minHeight {
  min-height: 100vh;
}

.titleContainer {
  padding-top: 7px;
  position: sticky;
  top: 60px;
  z-index: 6;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.footer span {
  color: #b5b5b6;
  font-size: 10px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body.removeScrollbar::-webkit-scrollbar {
  display: none;
}

body.light::-webkit-scrollbar-track {
  background: #f0efef;
}

body.dark::-webkit-scrollbar-track {
  background: #1c1c1c;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body.light::-webkit-scrollbar-thumb {
  background: #b5b5b6;
}

body.dark::-webkit-scrollbar-thumb {
  background: #242424;
}

.container-fluid {
  padding: 0 40px;
}

.tableContainer {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 270px);
  max-width: calc(100vw - 140px);
  height: 100%;
  overflow: scroll;
  border-radius: 4px;
  border: 1px solid;
}
.tableContainer::-webkit-scrollbar {
  display: none;
}

.tableMobileView {
  display: none;
}

.searchFilterContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.searchFilterContainer .searchFilterDropdown {
  width: 330px;
}

.emptyDataTable {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  height: 100%;
  min-height: 465px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.emptyDataTable .addbutton {
  padding: 8px 1rem;
  background-color: #ff3e5b;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  margin-top: 20px;
}

@media screen and (max-width: 1280px) {
  .footer,
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
  .tableContainer {
    max-width: calc(100vw - 120px);
  }
}
@media screen and (max-width: 1038px) {
  .footer,
  .container-fluid {
    padding-left: 26px;
    padding-right: 26px;
  }
  .tableContainer {
    max-width: calc(100vw - 115px);
  }
  .tableContainer table .tableHeads tr th:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .tableContainer {
    max-width: none;
    min-height: calc(100vh - 320px);
  }
}
@media screen and (max-width: 880px) {
  .footer,
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tableContainer {
    display: none;
  }
  .tableMobileView {
    display: block;
    max-width: 100%;
  }
  .searchFilterContainer .searchFilterDropdown {
    width: 100%;
  }
  .emptyDataTable {
    position: inherit;
    min-height: -moz-max-content;
    min-height: max-content;
    padding: 3rem 0;
  }
}
@media screen and (max-width: 576px) {
  .searchFilterContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .searchFilterContainer .advanceFilter {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */